.main {
    position: relative;

    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
    font-weight: 400;
    background-color: var(--bg-primary);
    overflow: auto;
}


#settingsbtn {
    bottom: 10px;
    left: 10px;
}

#settingsbtntext {
    bottom: 10px;
    left: 50px;
}

#devtoolsbtn {
    bottom: 10px;
    right: 10px;
}

#devtoolsbtntext {
    bottom: 10px;
    right: 50px;
}

#updatebtn {
    top: 10px;
    left: 10px;
}

#updatebtntext {
    top: 10px;
    left: 50px;
}

#aboutbtn {
    top: 10px;
    right: 10px;
}

#aboutbtntext {
    top: 10px;
    right: 50px;
}


.functionbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;

    background-color: var(--bg-secondary);
    border: 5px solid var(--border-divider);
}

.functionname {
    display: block;
    margin: 20px;

    font-size: 32px;
    font-weight: 500;
}

.functionbtn {
    display: block;
    width: 60px;
    height: 36px;

    font-weight: 700;
    border: 2px solid var(--text-primary);
    border-radius: 10%;
}

.btn-enable {
    background-color: var(--btn-enable-df);
}

.btn-enable:hover {
    background-color: var(--btn-enable-hover);
}

.btn-disable {
    background-color: var(--btn-disable-df);
}

.btn-disable:hover {
    background-color: var(--btn-disable-hover);
}